{% extends "admin/base_site.html" %}

{% block content %}
        <h1>Laporan Product</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit">
        </form>
        <br>
        <br>
        <script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
        <script type="text/javascript" src="/admin/jsi18n/"></script>
        <script type="text/javascript" src="/static/admin/js/core.js"></script>
        <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
        {{ form.media }}
{% endblock %}

{% block extrahead %}
    <script>function gettext(txt){ return txt }</script>
{% endblock %}
