{% extends "admin/base_site.html" %}

{% block content %}
        <h1>Product - {{ operation|capfirst }}</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit">
        </form>
        <br>
        <br>

        <h2 class="note">Product ini berjumlah <strong><span id="current"> 0 </span></strong>, setelah {% if operation == 'substraction' %} pengurangan {% else %} penambahan {% endif %} akan menjadi <strong><span id="result"> 0 </span></strong></h2>


        <style>
            .note strong {
                font-size: 30px;
            }
        </style>
        <script>
        $('#id_product_text').focusout(function() {
            var value = $('#id_product_on_deck > div').html();

            if (value === null || value === undefined)
                return false;

            var quantity = parseInt(value.split("|")[2].split(":")[1]);

            $('#current, #result').html(quantity);
        });

        var type = '{{operation}}';

        $('#id_quantity').keyup(function() {
            var curr = parseInt($('#current').html());
            var input = parseInt($('#id_quantity').val() || 0);

            var result = 0;

            if (type == 'substraction')
                result = curr - input;
            else
                result = curr + input;

            $('#result').html(result);

        });
        </script>

{% endblock %}


{% block extrahead %}


{% endblock %}
